
<h1 class="welcome-h1">Welcome to LolShare, have fun &#128514</h1>

<div class="welcome-user">
{{#if user}}
   <p>Welcome <a href="/user/{{user._id}}"><span class="username-at-welcome">{{user.username}}!</span> Click here for profile options</a>! </p>
{{else}}
    <p>Welcome!</p>
{{/if}}
</div>

<div>
{{#each result}}
    <div class ="results">
        <div class="meme-title"><h4>{{title}}</h4></div>
        <div class="meme-img"><img src="{{image}}" alt=""></div>
    </div>
{{/each}}
</div>
{{!-- <div>
<button id="refreshPageBtn" type="button" onClick="refreshPage()">More memesss</button>
</div> --}}