<h2>Update user</h2>

{{! update username, update email }}
<h3>errorMessage:{{errorMessage}}</h3>
<h3>usernameError: {{usernameError}}</h3>
<h3>emailError: {{emailError}}</h3>
<form method="post" action="/user/{{user._id}}/update-user">
  <label>Username
    <input
      type="text"
      name="username"
      placeholder="Username"
      value="{{user.username}}"
    />
  </label>
  <br />

  <label>Email
    <input
      type="text"
      name="email"
      placeholder="Email"
      value="{{user.email}}"
    />
  </label>
  <br />

  <button type="submit">Change yo deets</button>

</form>