{{!-- the idea here is to have a profile page to direct if user wants to check their profile (cRud) --}}

<h1>{{user.username}} Profile</h1>
<p>Your user ID is {{user._id}}</p>
<p>Your email is: {{user.email}}</p>
<p>Your role is: {{user.role}}</p>
<div>
   <a href="/user/{{user._id}}/upload-meme">Share your treasured memes</a>
</div>
<br>
<a href="/user/{{user._id}}/update-user">Feel like updating your profile? Click here! </a>
<br>
<a href="/user/{{user._id}}/update-password">Feel like updating your password? Click here! </a>
<br>
<a href="/user/{{user._id}}/delete-user">Feel like leaving us? It'd be a shame but... up to you...</a>

{{#if errorMessage}}
   <p> {{errorMessage}} </p>
{{/if}}
